.products {
    &__tabcontainer {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__tabitems {
        max-width: 270px;
        width: 100%;
        border: 1px solid rgba(42, 42, 42, 0.2);
    }
    &__tabitems {
padding: 36px 76px 36px 20px;
    }
    &__btn__item {
        font-size: 16px;
line-height: 36px;
color: $subtext;
transition: all 0.3s ease-in-out;
&:hover {
    color: $orangebtn;
    cursor: pointer;
}
    }
    &__tabcontent {
        padding: 66px 26px 87px 77px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $pink;
    }
    &__tabinfo {
        margin-right: 37px;
        max-width: 247px;
        width: 100%;
    }
    &__descr {
        margin-bottom: 30px;
        color: $orangebtn;
        font-size: 16px;
line-height: 24px;
    }
    &__name {
        margin-bottom: 30px;
        color: $text;
        font-size: 40px;
line-height: 50px;
    }
    &__delivery {
        margin-bottom: 60px;
        color: $subtext;
        font-size: 16px;
line-height: 24px;
    }
    &__buy {
        background-color: $orangebtn;
        padding: 18px;
        color: $white;
        transition: all 0.3s ease-in-out;
        &:hover {
            background-color: #f05941;
        }
    }
}
.hide {
    display: none;
}