$black: #000000;
$white: #ffffff;
$orangebtn: #FF715B;
$pink: #FDEFFC;
$pinkbtn: #FFC7C7;
$text: #2A2A2A;
$subtext: #999999;
%main-font {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
%black-font {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
}

// @function max($numbers...) {
//     @return m#{a}x(#{$numbers});
// }

// @function min($numbers...) {
//     @return m#{i}n(#{$numbers});
// }