<div class="blog" id="blog">
    <div class="container">
        <h4 class="blog__title title">From The Blog</h4>
        <span class="title__line"></span>
        <div class="blog__inner">
<div class="blog__item">
    <img class="blog__img" data-src="images/blog/img1.svg" src="images/plug.png"  alt="blog">
    <div class="blog__info">
        <div class="blog__date">May 4, <span class="year">2022</span></div>
        <div class="blog__comments">54</div>
    </div>
    <a href="#" class="blog__name">Cook salad Busting Salad Myths</a>
    <p class="blog__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled </p>
</div>
<div class="blog__item">
    <img class="blog__img" data-src="images/blog/img2.svg" src="images/plug.png"  alt="blog">
    <div class="blog__info">
        <div class="blog__date">May 4, <span class="year">2022</span></div>
        <div class="blog__comments">54</div>
    </div>
    <a href="#" class="blog__name">Fresh Vitamins</a>
    <p class="blog__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled </p>
</div>
<div class="blog__item">
    <img class="blog__img" data-src="images/blog/img3.svg" src="images/plug.png"  alt="blog">
    <div class="blog__info">
        <div class="blog__date">May 4, <span class="year">2022</span></div>
        <div class="blog__comments">54</div>
    </div>
    <a href="#" class="blog__name">Porridge in winter</a>
    <p class="blog__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled </p>
</div>
<div class="blog__item"></div>
        </div>
    </div>
</div>