<div class="cart">
<div class="cart__overlay">
    <img src="images/cart/close.svg" alt="close" class="cart__close">
    <div class="cart__content">
        <p class="cart__text">Your cart is empty</p>
        <div class="cart__item">
        <img src="images/cart/img1.jpg" alt="cart" class="cart__image">
        <div class="cart__info">
            <div class="cart__product-title">Bananas</div>
            <div class="cart__product-price">40.00$</div>
            <div class="cart__product-sum">
                <img src="images/cart/decrease.svg" alt="cart" class="cart__product-decrease">
                <div class="cart__product-number">1</div>
                <img src="images/cart/increase.svg" alt="cart" class="cart__product-increase">
            </div>
            <div class="cart__product-remove">remove</div>
        </div>
    </div>
    </div>
    <div class="cart__footer">
        <div class="cart__footer-faq">
            <div class="cart__footer-amount">Amount: <span class="amount">1</span> </div>
            <div class="cart__footer-total">Total:<span>80.00$</span></div>
        </div>
        <form action="mail.php" class="cart__footer-form" method="POST">
            <input type="hidden" name="admin_email[]" value="andrew.ndrw1@gmail.com">
            <input type="hidden" name="form_subject" value="Тема письма">
            <label class="cart__footer-label">
            <input type="tel" data-validate-field="tel" class="cart__footer-phone" name="tel" placeholder="Enter your phone">
        </label>
<label class="cart__footer-label">
            <input type="email" data-validate-field="email" class="cart__footer-mail" name="email" placeholder="Enter your email">
        </label>
            <button type="submit" class="cart__footer-submit">Order</button>
        </form>
        <button class="cart__footer-reset">Reset Cart</button>
    </div>
</div>
</div>