<div class="department">
    <div class="container">
        <div class="department__inner">
            <div class="department__name">All Department</div>
            <div class="department__search">
                <input class="department__search-input" type="search" placeholder="What do you need?">
                <button class="department__search-btn" type="submit">SEARCH</button>
            </div>
            <div class="department__info">
                <div class="department__icon"><svg><use xlink:href="#call"></use></svg></div>
<div class="department__info-content">
                <a href="tel:+930000000" class="department__tel">+93 000 00 00</a>
                <div class="department__schedule">support 24/7 time</div>
            </div>
            </div>
        </div>
    </div>
</div>