<footer class="footer" id="contact">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__content">
                <img class="footer__logo" data-src="images/headermenu/logo.png" src="images/plug.png"  alt="logo">
                <div class="footer__address">Address: New York</div>
                <div class="footer__social">
                    <a href="tel:+930000000" class="footer__phone">Phone: +93 000 00 00</a>
                    <div class="footer__icons">
                        <a class="footer__social-icon" href="#"><svg><use xlink:href="#telegram"></use></svg></a>
                        <a class="footer__social-icon" href="#"><svg><use xlink:href="#linkedin"></use></svg></a>
                        <a class="footer__social-icon" href="#"><svg><use xlink:href="#twitter"></use></svg></a>
                        <a class="footer__social-icon" href="#"><svg><use xlink:href="#facebook"></use></svg></a>
                    </div>
                </div>
                <a href="mailto:andrew.ndrw1@gmail.com" class="footer__mail">Email: andrew.ndrw1@gmail.com</a>
                <form action="mail.php" class="footer__form" method="POST">
                    <input type="hidden" name="admin_email[]" value="andrew.ndrw1@gmail.com">
                    <input type="hidden" name="form_subject" value="Тема письма">
                    <label class="footer__label">
                    <input type="email" data-validate-field="email" class="footer__input" name="subscribe" placeholder="Your Email">
                </label>
                    <!-- <input type="file" name="file[]" multiple> if file load -->
                    <button type="submit" class="footer__submit">SUBSCRIBE</button>
                </form>
            </div>
            <div class="footer__map" id="map"></div>
        </div>
        <div class="footer__copyright">Made by | Andrew <span>&#128522;</span></div>
    </div>
</footer>