<div class="goods">
    <div class="container">
<div class="goods__inner">
    <div class="goods__wrapper">
    <div class="goods__header">
        <div class="goods__name">Latest Product</div>
        <div class="goods__arrows">
            <div class="goods__arrow-left" id="arrow-left"></div>
            <div class="goods__arrow-right" id="arrow-right"></div>
        </div>
    </div>
    <div id="goodsslider" class="goods__slide">
        <div class="goods__slider keen-slider__slide">
            <img data-src="images/goods/latest/img1.jpg" src="images/plug.png"  alt="goods">
            <div class="goods__content">
                <div class="goods__title">cauliflower </div>
                <div class="goods__price">$40.00</div>
            </div>
        </div>
        <div class="goods__slider keen-slider__slide">
            <img data-src="images/goods/latest/img2.jpg" src="images/plug.png"  alt="goods">
            <div class="goods__content">
                <div class="goods__title">Organic quince</div>
                <div class="goods__price">$40.00</div>
            </div>
        </div>
        <div class="goods__slider keen-slider__slide">
            <img data-src="images/goods/latest/img3.jpg" src="images/plug.png"  alt="goods">
            <div class="goods__content">
                <div class="goods__title">tomato hybrid</div>
                <div class="goods__price">$40.00</div>
            </div>
        </div>
        <div class="goods__slider keen-slider__slide">
            <img data-src="images/goods/latest/img1.jpg" src="images/plug.png"  alt="goods">
            <div class="goods__content">
                <div class="goods__title">cauliflower </div>
                <div class="goods__price">$40.00</div>
            </div>
        </div>
        <div class="goods__slider keen-slider__slide">
            <img data-src="images/goods/latest/img2.jpg" src="images/plug.png"  alt="goods">
            <div class="goods__content">
                <div class="goods__title">Organic quince</div>
                <div class="goods__price">$40.00</div>
            </div>
        </div>
        <div class="goods__slider keen-slider__slide">
            <img data-src="images/goods/latest/img3.jpg" src="images/plug.png"  alt="goods">
            <div class="goods__content">
                <div class="goods__title">tomato hybrid</div>
                <div class="goods__price">$40.00</div>
            </div>
        </div>
      </div>
    </div>
    <div class="goods__wrapper">
        <div class="goods__header">
            <div class="goods__name">Top Products</div>
            <div class="goods__arrows">
                <div class="goods__arrow-left" id="prev"></div>
                <div class="goods__arrow-right" id="next"></div>
            </div>
        </div>
        <div id="goodsslider-second" class="goods__slide goods__slide">
            <div class="goods__slider keen-slider__slide">
                <img data-src="images/goods/top/img1.jpg" src="images/plug.png"  alt="goods">
                <div class="goods__content">
                    <div class="goods__title">Blueberry</div>
                    <div class="goods__price">$40.00</div>
                </div>
            </div>
            <div class="goods__slider keen-slider__slide">
                <img data-src="images/goods/top/img2.jpg" src="images/plug.png"  alt="goods">
                <div class="goods__content">
                    <div class="goods__title">capsicum</div>
                    <div class="goods__price">$40.00</div>
                </div>
            </div>
            <div class="goods__slider keen-slider__slide">
                <img data-src="images/goods/top/img3.jpg" src="images/plug.png"  alt="goods">
                <div class="goods__content">
                    <div class="goods__title">tomato hybrid</div>
                    <div class="goods__price">$40.00</div>
                </div>
            </div>
            <div class="goods__slider keen-slider__slide">
                <img data-src="images/goods/top/img1.jpg" src="images/plug.png"  alt="goods">
                <div class="goods__content">
                    <div class="goods__title">Blueberry</div>
                    <div class="goods__price">$40.00</div>
                </div>
            </div>
            <div class="goods__slider keen-slider__slide">
                <img data-src="images/goods/top/img2.jpg" src="images/plug.png"  alt="goods">
                <div class="goods__content">
                    <div class="goods__title">capsicum</div>
                    <div class="goods__price">$40.00</div>
                </div>
            </div>
            <div class="goods__slider keen-slider__slide">
                <img data-src="images/goods/top/img3.jpg" src="images/plug.png"  alt="goods">
                <div class="goods__content">
                    <div class="goods__title">tomato hybrid</div>
                    <div class="goods__price">$40.00</div>
                </div>
            </div>
          </div>
        </div>
        <div class="goods__wrapper">
            <div class="goods__header">
                <div class="goods__name">Review Products</div>
                <div class="goods__arrows">
                    <div class="goods__arrow-left" id="prev-arrow"></div>
                    <div class="goods__arrow-right" id="next-arrow"></div>
                </div>
            </div>
            <div id="goodsslider-third" class="goods__slide goods__slide">
                <div class="goods__slider keen-slider__slide">
                    <img data-src="images/goods/review/img1.jpg" src="images/plug.png"  alt="goods">
                    <div class="goods__content">
                        <div class="goods__title">filbert nut</div>
                        <div class="goods__price">$40.00</div>
                    </div>
                </div>
                <div class="goods__slider keen-slider__slide">
                    <img data-src="images/goods/review/img2.jpg" src="images/plug.png"  alt="goods">
                    <div class="goods__content">
                        <div class="goods__title">Green apple</div>
                        <div class="goods__price">$40.00</div>
                    </div>
                </div>
                <div class="goods__slider keen-slider__slide">
                    <img data-src="images/goods/review/img3.jpg" src="images/plug.png"  alt="goods">
                    <div class="goods__content">
                        <div class="goods__title">Fresh raspberry</div>
                        <div class="goods__price">$40.00</div>
                    </div>
                </div>
                <div class="goods__slider keen-slider__slide">
                    <img data-src="images/goods/review/img1.jpg" src="images/plug.png"  alt="goods">
                    <div class="goods__content">
                        <div class="goods__title">filbert nut</div>
                        <div class="goods__price">$40.00</div>
                    </div>
                </div>
                <div class="goods__slider keen-slider__slide">
                    <img data-src="images/goods/review/img2.jpg" src="images/plug.png"  alt="goods">
                    <div class="goods__content">
                        <div class="goods__title">Green apple</div>
                        <div class="goods__price">$40.00</div>
                    </div>
                </div>
                <div class="goods__slider keen-slider__slide">
                    <img data-src="images/goods/review/img3.jpg" src="images/plug.png"  alt="goods">
                    <div class="goods__content">
                        <div class="goods__title">Fresh raspberry</div>
                        <div class="goods__price">$40.00</div>
                    </div>
                </div>
              </div>
            </div>
</div>
    </div>
</div>