<section class="menu" id="shop">
    <div class="container">
        <h4 class="menu__title title">Products</h4>
        <span class="title__line"></span>
            <div class="menu__btn-container">
                <button type="button" class="menu__btn" data-id="all">All</button>
                <button type="button" class="menu__btn" data-id="fruit">Fruit</button>
                <button type="button" class="menu__btn" data-id="meat">Meat</button>
                <button type="button" class="menu__btn" data-id="vegetables">Vegetables</button>
                <button type="button" class="menu__btn" data-id="fastfood">Fastfood</button>
            </div>
            <div class="menu__inner">
                <div class="menu__item fruit">
                    <img class="menu__img" data-src="images/menu/fruit/img1.jpg" src="images/plug.png"  alt="menu">
                    <div class="menu__content">
                        <div class="menu__name">Bunch of bananas</div>
                        <div class="menu__price">$30.00</div>
                    </div>
                    <button class="menu__addtocart">Add To Cart</button>
                </div>
                <div class="menu__item fruit">
                    <img class="menu__img" data-src="images/menu/fruit/img2.jpg" src="images/plug.png"  alt="menu">
                    <div class="menu__content">
                        <div class="menu__name">Mellon fruit</div>
                        <div class="menu__price">$30.00</div>
                    </div>
                    <button class="menu__addtocart">Add To Cart</button>
                </div>
                <div class="menu__item fruit">
                    <img class="menu__img" data-src="images/menu/fruit/img3.jpg" src="images/plug.png"  alt="menu">
                    <div class="menu__content">
                        <div class="menu__name">Fresh apricot</div>
                        <div class="menu__price">$30.00</div>
                    </div>
                    <button class="menu__addtocart">Add To Cart</button>
                </div>
                <div class="menu__item fruit">
                    <img class="menu__img" data-src="images/menu/fruit/img4.jpg" src="images/plug.png"  alt="menu">
                    <div class="menu__content">
                        <div class="menu__name">Red apple</div>
                        <div class="menu__price">$30.00</div>
                    </div>
                    <button class="menu__addtocart">Add To Cart</button>
                </div>
                <div class="menu__item fastfood">
                    <img class="menu__img" data-src="images/menu/fastfood/img1.jpg" src="images/plug.png"  alt="menu">
                    <div class="menu__content">
                        <div class="menu__name">Bunch of lettuce</div>
                        <div class="menu__price">$30.00</div>
                    </div>
                    <button class="menu__addtocart">Add To Cart</button>
                </div>
                <div class="menu__item vegetables">
                    <img class="menu__img" data-src="images/menu/vegetables/img1.jpg" src="images/plug.png"  alt="menu">
                    <div class="menu__content">
                        <div class="menu__name">Cucumber</div>
                        <div class="menu__price">$30.00</div>
                    </div>
                    <button class="menu__addtocart">Add To Cart</button>
                </div>
                <div class="menu__item meat">
                    <img class="menu__img" data-src="images/menu/meat/img1.jpg" src="images/plug.png"  alt="menu">
                    <div class="menu__content">
                        <div class="menu__name">Beef steak</div>
                        <div class="menu__price">$30.00</div>
                    </div>
                    <button class="menu__addtocart">Add To Cart</button>
                </div>
                <div class="menu__item vegetables">
                    <img class="menu__img" data-src="images/menu/vegetables/img2.jpg" src="images/plug.png"  alt="menu">
                    <div class="menu__content">
                        <div class="menu__name">raw broccoli</div>
                        <div class="menu__price">$30.00</div>
                    </div>
                    <button class="menu__addtocart">Add To Cart</button>
                </div>
            </div>
    </div>
</section>