<section class="menu" id="shop">
    <div class="container">
        <h4 class="menu__title title">Products</h4>
        <span class="title__line"></span>
            <div class="menu__btn-container">
                <button type="button" class="menu__btn" data-id="all">All</button>
                <button type="button" class="menu__btn" data-id="fruit">Fruit</button>
                <button type="button" class="menu__btn" data-id="meat">Meat</button>
                <button type="button" class="menu__btn" data-id="vegetables">Vegetables</button>
                <button type="button" class="menu__btn" data-id="fastfood">Fastfood</button>
            </div>
            <div class="menu__inner"></div>
    </div>
</section>