<div class="offer">
    <div class="container">
<div class="offer__inner">
    <div class="offer__item">
        <img src="images/offer/img1.svg" alt="offer" class="offer__img">
        <div class="offer__content">
            <div class="offer__category">Summer fruits</div>
            <div class="offer__title">100%  natural juice</div>
            <a href="#" class="offer__btn">BUY NOW</a>
        </div>
    </div>
    <div class="offer__item">
        <img src="images/offer/img2.svg" alt="offer" class="offer__img">
        <div class="offer__content">
            <div class="offer__category">Drink Fruits</div>
            <div class="offer__title">100%  natural juice</div>
            <a href="#" class="offer__btn">BUY NOW</a>
        </div>
    </div>
</div>
    </div>
</div>