<section class="products">
    <div class="container">
<div class="products__tabcontainer">
    <div class="products__tabitems">
        <div class="products__btn__item">Fresh Meat</div>
        <div class="products__btn__item">Vegetables</div>
        <div class="products__btn__item">Fruit & Nut Gifts</div>
        <div class="products__btn__item">Fresh Berries</div>
        <div class="products__btn__item">Ocean Foods</div>
        <div class="products__btn__item">Butter & Eggs</div>
        <div class="products__btn__item">Fastfood</div>
        <div class="products__btn__item">Fresh Onion</div>
        <div class="products__btn__item">Papayaya & Crisps</div>
        <div class="products__btn__item">Oatmeal</div>
        <div class="products__btn__item">Fresh Bananas</div>
    </div>
    <div class="products__tabcontent">
        <div class="products__tabinfo">
            <div class="products__descr">Our Products</div>
            <div class="products__name">Fresh Meat</div>
            <div class="products__delivery">Free  Delivery Available</div>
            <a href="#" class="products__buy">SHOP NOW</a>
        </div>
        <img data-src="images/tabs/img1.jpg" src="images/plug.png"  alt="tabs">
    </div>
    <div class="products__tabcontent hide">
        <div class="products__tabinfo">
            <div class="products__descr">Our Products</div>
            <div class="products__name">Vegetables</div>
            <div class="products__delivery">Free  Delivery Available</div>
            <a href="#" class="products__buy">SHOP NOW</a>
        </div>
        <img data-src="images/tabs/img2.jpg" src="images/plug.png"  alt="tabs">
    </div>
    <div class="products__tabcontent hide">
        <div class="products__tabinfo">
            <div class="products__descr">Our Products</div>
            <div class="products__name">fruit</div>
            <div class="products__delivery">Free  Delivery Available</div>
            <a href="#" class="products__buy">SHOP NOW</a>
        </div>
        <img data-src="images/tabs/img3.jpg" src="images/plug.png"  alt="tabs">
    </div>
    <div class="products__tabcontent hide">
        <div class="products__tabinfo">
            <div class="products__descr">Our Products</div>
            <div class="products__name">berries</div>
            <div class="products__delivery">Free  Delivery Available</div>
            <a href="#" class="products__buy">SHOP NOW</a>
        </div>
        <img data-src="images/tabs/img4.jpg" src="images/plug.png"  alt="tabs">
    </div>
    <div class="products__tabcontent hide">
        <div class="products__tabinfo">
            <div class="products__descr">Our Products</div>
            <div class="products__name">ocean</div>
            <div class="products__delivery">Free  Delivery Available</div>
            <a href="#" class="products__buy">SHOP NOW</a>
        </div>
        <img data-src="images/tabs/img5.jpg" src="images/plug.png"  alt="tabs">
    </div>
    <div class="products__tabcontent hide">
        <div class="products__tabinfo">
            <div class="products__descr">Our Products</div>
            <div class="products__name">butter</div>
            <div class="products__delivery">Free  Delivery Available</div>
            <a href="#" class="products__buy">SHOP NOW</a>
        </div>
        <img data-src="images/tabs/img6.jpg" src="images/plug.png"  alt="tabs">
    </div>
    <div class="products__tabcontent hide">
        <div class="products__tabinfo">
            <div class="products__descr">Our Products</div>
            <div class="products__name">fastfood</div>
            <div class="products__delivery">Free  Delivery Available</div>
            <a href="#" class="products__buy">SHOP NOW</a>
        </div>
        <img data-src="images/tabs/img7.jpg" src="images/plug.png"  alt="tabs">
    </div>
    <div class="products__tabcontent hide">
        <div class="products__tabinfo">
            <div class="products__descr">Our Products</div>
            <div class="products__name">onion</div>
            <div class="products__delivery">Free  Delivery Available</div>
            <a href="#" class="products__buy">SHOP NOW</a>
        </div>
        <img data-src="images/tabs/img8.jpg" src="images/plug.png"  alt="tabs">
    </div>
    <div class="products__tabcontent hide">
        <div class="products__tabinfo">
            <div class="products__descr">Our Products</div>
            <div class="products__name">papayaya</div>
            <div class="products__delivery">Free  Delivery Available</div>
            <a href="#" class="products__buy">SHOP NOW</a>
        </div>
        <img data-src="images/tabs/img9.jpg" src="images/plug.png"  alt="tabs">
    </div>
    <div class="products__tabcontent hide">
        <div class="products__tabinfo">
            <div class="products__descr">Our Products</div>
            <div class="products__name">oatmeal</div>
            <div class="products__delivery">Free  Delivery Available</div>
            <a href="#" class="products__buy">SHOP NOW</a>
        </div>
        <img data-src="images/tabs/img10.jpg" src="images/plug.png"  alt="tabs">
    </div>
    <div class="products__tabcontent hide">
        <div class="products__tabinfo">
            <div class="products__descr">Our Products</div>
            <div class="products__name">bananas</div>
            <div class="products__delivery">Free  Delivery Available</div>
            <a href="#" class="products__buy">SHOP NOW</a>
        </div>
        <img data-src="images/tabs/img11.jpg" src="images/plug.png"  alt="tabs">
    </div>
</div>
    </div>
</section>