<section class="reviews">
    <div class="container">
<div class="reviews__slider">
    <div class="reviews__slide keen-slider__slide">
        <img class="reviews__img" data-src="images/reviews/img1.jpg" src="images/plug.png"  alt="tabs">
        <h3 class="reviews__name">FRESH FRUIT</h3>
    </div>
    <div class="reviews__slide keen-slider__slide">
        <img class="reviews__img" data-src="images/reviews/img2.jpg" src="images/plug.png"  alt="tabs">
        <h3 class="reviews__name">DRIED FRUIT</h3>
    </div>
    <div class="reviews__slide keen-slider__slide">
        <img class="reviews__img" data-src="images/reviews/img3.jpg" src="images/plug.png"  alt="tabs">
        <h3 class="reviews__name">VEGETABLES</h3>
    </div>
    <div class="reviews__slide keen-slider__slide">
        <img class="reviews__img" data-src="images/reviews/img4.jpg" src="images/plug.png"  alt="tabs">
        <h3 class="reviews__name">DRINK FRUIT</h3>
    </div>
    <div class="reviews__slide keen-slider__slide">
        <img class="reviews__img" data-src="images/reviews/img1.jpg" src="images/plug.png"  alt="tabs">
        <h3 class="reviews__name">FRESH FRUIT</h3>
    </div>
    <div class="reviews__slide keen-slider__slide">
        <img class="reviews__img" data-src="images/reviews/img2.jpg" src="images/plug.png"  alt="tabs">
        <h3 class="reviews__name">DRIED FRUIT</h3>
    </div>
    <div class="reviews__slide keen-slider__slide">
        <img class="reviews__img" data-src="images/reviews/img3.jpg" src="images/plug.png"  alt="tabs">
        <h3 class="reviews__name">VEGETABLES</h3>
    </div>
    <div class="reviews__slide keen-slider__slide">
        <img class="reviews__img" data-src="images/reviews/img4.jpg" src="images/plug.png"  alt="tabs">
        <h3 class="reviews__name">DRINK FRUIT</h3>
    </div>
    <div class="reviews__slide keen-slider__slide">
        <img class="reviews__img" data-src="images/reviews/img1.jpg" src="images/plug.png"  alt="tabs">
        <h3 class="reviews__name">FRESH FRUIT</h3>
    </div>
    <div class="reviews__slide keen-slider__slide">
        <img class="reviews__img" data-src="images/reviews/img2.jpg" src="images/plug.png"  alt="tabs">
        <h3 class="reviews__name">DRIED FRUIT</h3>
    </div>
    <div class="reviews__slide keen-slider__slide">
        <img class="reviews__img" data-src="images/reviews/img3.jpg" src="images/plug.png"  alt="tabs">
        <h3 class="reviews__name">VEGETABLES</h3>
    </div>
    <div class="reviews__slide keen-slider__slide">
        <img class="reviews__img" data-src="images/reviews/img4.jpg" src="images/plug.png"  alt="tabs">
        <h3 class="reviews__name">DRINK FRUIT</h3>
    </div>
</div>
    </div>
</section>