<div class="timer" id="pages">
    <div class="container">
        <div class="timer__inner">
            <p class="timer__title">DISCOUNTS EXPIRE</p>
            <div class="timer__expire">
                <div class="timer__days timer__common"><span>10</span>days</div>
                <div class="timer__hours timer__common"><span>10</span>hours</div>
                <div class="timer__minutes timer__common"><span>10</span>minutes</div>
                <div class="timer__seconds timer__common"><span>10</span>seconds</div>
            </div>
        </div>
    </div>
</div>