<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
            content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
        <title>FoodStore</title>
        <link rel="stylesheet" href="css/style.min.css">
    </head>
<body>
    <div class="wrapper">
        @@include('modules/header.html')
        <main class="main"></main>
        @@include('modules/footer.html')
    </div>
    <script src="js/bundle.js"></script>
</body>

</html>